/* .footer-child {
  position: absolute;
  top: 46px;
  left: 0;
  background-color: var(--color-black);
  width: 1520px;
  height: 729px;
} */
.all-rights-reserved {
    position: absolute;
    top: 704px;
    left: 247px;
    display: inline-block;
    width: 241px;
    height: 33px;
  }
  /* .footer-item {
    position: absolute;
    top: 649.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 1521px;
    height: 1px;
  } */
  .dg-house-qun {
    margin: 0;
  }
  .dg-house-qun-container {
    position: relative;
    display: inline-block;
    width: 241px;
    height: 23px;
    flex-shrink: 0;
  }
  .chi-nhnh-ti,
  .dg-house-qun1 {
    position: relative;
    display: inline-block;
    width: 328px;
  }
  .chi-nhnh-ti {
    font-size: var(--font-size-5xl);
    text-align: left;
  }
  .dg-house-qun1 {
    height: 23px;
    flex-shrink: 0;
  }
  .chi-nhnh {
    position: absolute;
    top: 118px;
    left: 944px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .truy-cp1 {
    position: relative;
    font-size: var(--font-size-5xl);
    display: inline-block;
    text-align: left;
    width: 162px;
  }
  .truy-cp {
    position: absolute;
    top: 398px;
    left: 679px;
    width: 241px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }
  .dch-v-tm {
    position: relative;
    display: inline-block;
    width: 265px;
    height: 23px;
    flex-shrink: 0;
  }
  .dch-v {
    position: absolute;
    top: 118px;
    left: 679px;
    width: 241px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .facebook-icon {
    position: relative;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .social {
    position: absolute;
    top: 511px;
    left: 244px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .cng-vin-phn-container {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 390px;
    height: 14px;
    flex-shrink: 0;
  }
  .contact {
    position: absolute;
    top: 368px;
    left: 244px;
    width: 431px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
    text-align: left;
  }
  .dg-house1,
  .dg-househouse-ra {
    position: relative;
    display: inline-block;
    width: 245px;
  }
  .dg-househouse-ra {
    font-size: var(--font-size-base);
    text-align: justify;
    width: 410px;
    height: 149px;
    flex-shrink: 0;
  }
  .dg-house {
    position: absolute;
    top: 108px;
    left: 244px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 31px;
    text-align: left;
    font-size: 40px;
  }
  /* .footer,
  .navbar-child,
  .navbar-item {
    position: absolute;
    left: 0;
    width: 1520px;
  }
  .footer {
    top: 950px;
    height: 793px;
    overflow: hidden;
    text-align: justify;
    color: var(--color-white);
  }
  .navbar-child,
  .navbar-item {
    top: 0;
    height: 110px;
  }
  .navbar-item {
    top: 38px;
    left: 1087px;
    border-radius: 17px;
    background-color: var(--color-black);
    width: 183px;
    height: 34px;
  } */
  .send-icon {
    position: absolute;
    top: 46px;
    left: 1231px;
    width: 18px;
    height: 18px;
    overflow: hidden;
  }
  .online-booking {
    position: absolute;
    top: 49px;
    left: 1107px;
    font-size: 10px;
    font-weight: 800;
    color: var(--color-white);
  }
  .ca-hng {
    position: absolute;
    top: 48px;
    left: 957px;
    font-weight: 600;
  }
  .chevron-down-icon {
    position: absolute;
    top: 2px;
    left: 50px;
    width: 12px;
    height: 11px;
    overflow: hidden;
  }
  .lienhe,
  .lin-h {
    position: absolute;
  }
  .lin-h {
    top: 0;
    left: 0;
    font-weight: 600;
    cursor: pointer;
  }
  .lienhe {
    top: 48px;
    left: 864px;
    width: 62px;
    height: 15px;
  }
  .chevron-down-icon1 {
    position: absolute;
    top: 2px;
    left: 36px;
    width: 14px;
    height: 11px;
    overflow: hidden;
  }
  .blog,
  .blog1 {
    position: absolute;
  }
  .blog1 {
    top: 0;
    left: 0;
    font-weight: 600;
  }
  .blog {
    top: 48px;
    left: 784px;
    width: 50px;
    height: 15px;
  }
  .chevron-down-icon2 {
    position: absolute;
    top: 2px;
    left: 55px;
    width: 14px;
    height: 11px;
    overflow: hidden;
  }
  .dichvu {
    position: absolute;
    top: 48px;
    left: 685px;
    width: 69px;
    height: 15px;
  }
  .gii-thiu {
    top: 48px;
    left: 586px;
    font-weight: 600;
  }
  /* .gii-thiu,
  .navbar-inner,
  .trang-ch1 {
    position: absolute;
    cursor: pointer;
  }
  .trang-ch1 {
    top: 48px;
    left: 480px;
    font-weight: 600;
  }
  .navbar-inner {
    top: 20px;
    left: 250px;
    width: 156px;
    height: 70px;
    object-fit: cover;
  }
  .header-child,
  .navbar {
    position: absolute;
    left: 0;
    width: 1520px;
  }
  .navbar {
    top: 48px;
    height: 110px;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-midnightblue);
  } */
  .header-child {
    top: 0;
    background-color: var(--color-darkslateblue);
    height: 46px;
  }
  .cng-vin-phn1,
  .div {
    position: absolute;
    top: 17px;
    left: 269px;
    font-weight: 500;
  }
  .cng-vin-phn1 {
    left: 383px;
  }
  .phone-icon2 {
    position: absolute;
    top: 13px;
    left: 245px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .header-item {
    position: absolute;
    top: 13.99px;
    left: 355.5px;
    width: 1.5px;
    height: 21.05px;
  }
  .map-pin-icon,
  .search-icon,
  .shopping-cart-icon {
    position: absolute;
    top: 16px;
    left: 364px;
    width: 14px;
    height: 17px;
    overflow: hidden;
  }
  .search-icon,
  .shopping-cart-icon {
    top: 11px;
    left: 1255px;
    width: 29px;
    height: 24px;
  }
  .shopping-cart-icon {
    left: 1210px;
    width: 24px;
  }
  .frame-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: #23a455;
  }
  .div1 {
    position: absolute;
    height: 70%;
    width: 40%;
    top: 10%;
    left: 30%;
    font-weight: 500;
    display: inline-block;
  }
  .ellipse-parent {
    position: absolute;
    top: 12px;
    left: 1228px;
    width: 10px;
    height: 10px;
    font-size: 6px;
    font-family: var(--font-inter);
  }
  .span {
    text-decoration: underline;
  }
  .div2,
  .header {
    position: absolute;
  }
  .div2 {
    top: 16px;
    left: 1188px;
    font-size: var(--font-size-xs);
    font-weight: 500;
  }
  .header {
    top: 0;
    left: 0;
    width: 1523px;
    height: 46px;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
  }
  .trang-ng-nhp-child {
    position: absolute;
    top: 241px;
    left: 685px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 587px;
    height: 606px;
  }
  .to-ti-khon {
    color: var(--color-midnightblue);
  }
  .cha-c-ti-container {
    position: absolute;
    top: 777px;
    left: 862px;
    font-size: 14px;
    text-align: left;
    color: var(--color-black);
  }
  .trang-ng-nhp-item {
    position: absolute;
    top: 639px;
    left: 760px;
    border-radius: 2px;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 13px;
    height: 13px;
  }
  .nh-ti-khon,
  .qun-mt-khu {
    position: absolute;
    top: 638px;
    left: 780px;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    text-align: left;
  }
  .qun-mt-khu {
    left: 1100px;
  }
  .ng-nhp {
    position: absolute;
    top: 294px;
    left: 875px;
    font-size: 42px;
    color: var(--color-midnightblue);
  }
  .trang-ng-nhp-inner {
    position: absolute;
    top: 546px;
    left: 450px;
  }
  .ti-khon {
    position: relative;
    position: absolute;
    /* border:none; */
    top: 385px;
    left: 760px;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro);
    width: 435px;
    height: 50px;
    border:none;
    display: flex;
    color:green;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
      var(--padding-11xl);
    box-sizing: border-box;
  }
  .email-wrapper .ti-khon{
    position: relative;
    position: absolute;
    /* border:none; */
    top: 470px;
    left: 760px;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro);
    width: 470x;
    height: 50px;
    display: flex;
    color:green;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
      var(--padding-11xl);
    box-sizing: border-box;
  }
  .mt-khu-wrapper .ti-khon {
    position: relative;
    position: absolute;
    /* border:none; */
    top: 555px;
    left: 760px;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro);
    width: 435px;
    height: 50px;
    display: flex;
    color:green;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
      var(--padding-11xl);
    box-sizing: border-box;
  }.ti-khon {
    position: relative;
    position: absolute;
    /* border:none; */
    top: 385px;
    left: 760px;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro);
    width: 435px;
    height: 50px;
    display: flex;
    color:green;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
      var(--padding-11xl);
    box-sizing: border-box;
  }
  input .ti-khon{
   
  }
  
  .email-wrapper,
  .mt-khu-wrapper {
    top: 465px;
  }
  .mt-khu-wrapper {
    top: 545px;
  }
  .ng-nhp1 {
    position: relative;
    font-weight: 600;
  }
  .ng-nhp-wrapper .ng-nhp1 {
    position: absolute;
    border:none;
    top: 690px;
    left: 760px;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslateblue);
    width: 435px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    color: var(--color-white);
  }
  .rectangle-icon {
    position: absolute;
    top: 241px;
    left: 250px;
    width: 413px;
    height: 606px;
    object-fit: cover;
  }
  .trang-ng-nhp {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1200px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-dimgray);
    font-family: var(--font-montserrat);
  }
  