.sv__banner {
  height: 402px;
}
.sv__banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sv__titlebanner {
  top: 185px;
  left: 410px;
  color: #000;
  /* font-family: Inter; */
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.sv__prd-1 {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sv__littleprd1 {
  border-radius: 20px;
  width: 325px;
  height: 510px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sv__coverimg {
  height: 250px;
}
.sv__coverimg img {
  border-radius: 20px 20px 0 0;
}
.sv__textprd {
  width: 272px;
  margin: 38px auto;
  color: #273172;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.sv__littletext {
  width: 272px;
  margin: 21px auto;
  color: #54595f;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sv__btn-more {
  width: 272px;
  margin: 0 auto;
  color: #49b3f4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sv__line {
  margin: 20px 0 11px 0;
  height: 1px;
  background: rgba(175, 175, 175, 0.3);
}
.sv__coverlittleft {
  align-items: center;
  margin-left: 26px;
  padding-bottom: 7px;
}
.sv__littleft {
  color: #8e8e8e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 7px;
}
.sv__searches {
  margin-top: 42px;

  display: flex;
  align-items: center;
  width: 241px;
  height: 43px;
  border-radius: 20px;
  background: #e1e1e1;
  padding-left: 21px;
}
.sv__holder {
  width: 88px;
  color: #a3a3a3;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 32px;
}
.sv__cvalltext {
  margin-top: 42px;
}
.sv__list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.sv__tllist {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
.sv__tlist {
  color: #0e72e8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sv__cvallblog {
  margin-top: 42px;
}
.sv__tlblog {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
.sv__textblog {
  color: #0e72e8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}
.sv__cvdatepost {
  margin-top: 3px;
  align-items: center;
}
.sv__date {
  color: #666;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sv__btn-move {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 376px;
  align-items: center;
  margin-left: 400px;
}
.sv__move {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 40px;
  height: 35px;
  border-radius: 15px;
  color: #0e72e8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #f2f2f2;
}
.sv__tillefinal {
  display: flex;
  width: 100%;
  padding: 19px 249px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #07247e;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
