/* CSS bLOG */

.prd-1 {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.littleprd1 {
  border-radius: 20px;
  width: 325px;
  height: 500px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.coverimg {
  height: 250px;
}
.textprd {
  width: 272px;
  margin: 38px auto;
  color: #273172;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.littletext {
  width: 272px;
  margin: 21px auto;
  color: #54595f;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-more {
  width: 272px;
  margin: 0 auto;
  color: #49b3f4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.line {
  margin: 20px 0 11px 0;
  height: 1px;
  background: rgba(175, 175, 175, 0.3);
}
.coverlittleft {
  align-items: center;
  margin-left: 26px;
}
.littleft {
  color: #8e8e8e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 7px;
}
.searches {
  margin-top: 42px;

  display: flex;
  align-items: center;
  width: 241px;
  height: 43px;
  border-radius: 20px;
  background: #e1e1e1;
  padding-left: 21px;
}
.holder {
  width: 88px;
  color: #a3a3a3;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 32px;
}
.cvalltext {
  margin-top: 42px;
}
.list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.tllist {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
.tlist {
  color: #0e72e8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cvallblog {
  margin-top: 42px;
}
.tlblog {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
.textblog {
  color: #0e72e8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}
.cvdatepost {
  margin-top: 3px;
  align-items: center;
}
.date {
  color: #666;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-move {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 376px;
  align-items: center;
  margin-left: 400px;
}
.move {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 40px;
  height: 35px;
  border-radius: 15px;
  color: #0e72e8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #f2f2f2;
}
.tillefinal {
  display: flex;
  width: 100%;
  padding: 19px 249px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #07247e;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* END CSS Blog */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;

  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: #273172;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #273172;
  cursor: pointer;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#notfound {
  position: relative;
  height: 45.9vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 190px;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}

.notfound .notfound-404 h1 > span {
  display: inline-block;
  width: 120px;
  height: 120px;
  /* background-image: url("../img/emoji.png"); */
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.notfound h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

.notfound p {
  font-family: "Montserrat", sans-serif;
  color: #787878;
  font-weight: 300;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #f99827;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 115px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h1 > span {
    width: 86px;
    height: 86px;
  }
}
